body {
  height: 100%;
  font-family: 'Play', sans-serif !important;
  color: #555555 !important;
}
header {
  padding: 60px 0;
  height: 100vh;
  width: 100%;
  background: #000 url(../img/bg_header.jpg) no-repeat top 50% left 50%;
  background-size: cover;
}
header .content {
  margin-top: 27%;
  /*a.btn-email{
      .email-button(transparent, 1.2em, 2px solid @red, @red);
      &:hover{
        .email-button(#BF1A1A, 1.2em, 2px solid #BF1A1A, #fff);
      }
    }*/
}
header .content h1,
header .content h3 {
  color: #fff;
}
header .content h1 {
  font-family: 'Poiret One', cursive;
  font-size: 4.3em;
  font-weight: 700;
  letter-spacing: 10px;
  margin: 60px 0;
}
header .content h3 {
  font-family: 'Play', sans-serif;
  font-size: 2em;
  color: transparent;
  position: relative;
}
header .content .e-holder {
  padding-top: 120px;
}
.showingUp {
  -moz-animation: showingUp 1.5s ease 0.5s forwards;
  -webkit-animation: showingUp 1.5s ease 0.5s forwards;
  -o-animation: showingUp 1.5s ease 0.5s forwards;
  -ms-animation: showingUp 1.5s ease 0.5s forwards;
  animation: showingUp 1.5s ease 0.5s forwards;
}
@keyframes showingUp {
  0% {
    color: transparent;
    left: 0;
    top: 25px;
  }
  100% {
    left: 0;
    top: 0;
    color: #fff;
  }
}
@-moz-keyframes showingUp {
  0% {
    color: transparent;
    left: 0;
    top: 25px;
  }
  100% {
    left: 0;
    top: 0;
    color: #fff;
  }
}
@-webkit-keyframes showingUp {
  0% {
    color: transparent;
    left: 0;
    top: 25px;
  }
  100% {
    left: 0;
    top: 0;
    color: #fff;
  }
}
@-o-keyframes showingUp {
  0% {
    color: transparent;
    left: 0;
    top: 25px;
  }
  100% {
    left: 0;
    top: 0;
    color: #fff;
  }
}
@-ms-keyframes showingUp {
  0% {
    color: transparent;
    left: 0;
    top: 25px;
  }
  100% {
    left: 0;
    top: 0;
    color: #fff;
  }
}
nav.navbar-default {
  background-color: transparent;
  border: none;
  color: #fff;
}
nav.navbar-default ul.langs li a {
  margin: 40px 5px;
  padding: 5px 0;
}
nav.navbar-default .navbar-nav .menu-nav-container {
  display: inline-block;
}
nav.navbar-default .navbar-nav li {
  list-style: none;
  display: block;
  float: left;
}
nav.navbar-default .navbar-nav li a {
  color: #A0C3C3;
  text-transform: uppercase;
  padding: 5px 5px;
  margin: 40px 15px;
  font-size: 1.4em;
  font-family: 'Play', sans-serif;
  display: block;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
nav.navbar-default .navbar-nav li a:hover {
  color: #CDCDCD;
  -moz-animation: rise 1s forwards;
  -webkit-animation: rise 1s forwards;
  -o-animation: rise 1s forwards;
  -ms-animation: rise 1s forwards;
  animation: rise 1s forwards;
}
@keyframes rise {
  from {
    border-bottom: 2px solid transparent;
  }
  to {
    border-bottom: 2px solid #D52929;
  }
}
@-moz-keyframes rise {
  from {
    border-bottom: 2px solid transparent;
  }
  to {
    border-bottom: 2px solid #D52929;
  }
}
@-webkit-keyframes rise {
  from {
    border-bottom: 2px solid transparent;
  }
  to {
    border-bottom: 2px solid #D52929;
  }
}
@-o-keyframes rise {
  from {
    border-bottom: 2px solid transparent;
  }
  to {
    border-bottom: 2px solid #D52929;
  }
}
@-ms-keyframes rise {
  from {
    border-bottom: 2px solid transparent;
  }
  to {
    border-bottom: 2px solid #D52929;
  }
}
nav.nav-slideUp {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(6, 8, 8, 0.1);
  opacity: .97;
  -moz-animation: slideUp .8s forwards;
  -webkit-animation: slideUp .8s forwards;
  -o-animation: slideUp .8s forwards;
  -ms-animation: slideUp .8s forwards;
  animation: slideUp .8s forwards;
}
nav.nav-slideUp .navbar-nav li > a {
  color: #0C7776;
}
@keyframes slideUp {
  from {
    left: 0px;
    top: 0px;
    background-color: transparent;
  }
  to {
    left: 0px;
    top: -150px;
    background-color: #fff;
  }
}
@-moz-keyframes slideUp {
  from {
    left: 0px;
    top: 0px;
    background-color: transparent;
  }
  to {
    left: 0px;
    top: -150px;
    background-color: #fff;
  }
}
@-webkit-keyframes slideUp {
  from {
    left: 0px;
    top: 0px;
    background-color: transparent;
  }
  to {
    left: 0px;
    top: -150px;
    background-color: #fff;
  }
}
@-o-keyframes slideUp {
  from {
    left: 0px;
    top: 0px;
    background-color: transparent;
  }
  to {
    left: 0px;
    top: -150px;
    background-color: #fff;
  }
}
nav.nav-slideDown {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(6, 8, 8, 0.1);
  opacity: .97;
  -moz-animation: slideDown .8s forwards;
  -webkit-animation: slideDown .8s forwards;
  -o-animation: slideDown .8s forwards;
  -ms-animation: slideDown .8s forwards;
  animation: slideDown .8s forwards;
}
nav.nav-slideDown .navbar-nav li > a {
  color: #0C7776;
}
nav.nav-slideDown .navbar-nav li > a:hover {
  color: #8DA5A5;
}
@keyframes slideDown {
  from {
    left: 0px;
    top: -80px;
  }
  to {
    left: 0px;
    top: 0px;
  }
}
@-moz-keyframes slideDown {
  from {
    left: 0px;
    top: -80px;
  }
  to {
    left: 0px;
    top: 0px;
  }
}
@-webkit-keyframes slideDown {
  from {
    left: 0px;
    top: -80px;
  }
  to {
    left: 0px;
    top: 0px;
  }
}
@-o-keyframes slideDown {
  from {
    left: 0px;
    top: -80px;
  }
  to {
    left: 0px;
    top: 0px;
  }
}
nav.transparent {
  -moz-animation: trans 1s forwards;
  -webkit-animation: trans 1s forwards;
  -o-animation: trans 1s forwards;
  -ms-animation: trans 1s forwards;
  animation: trans 1s forwards;
  box-shadow: none;
}
nav.transparent .navbar-nav li > a {
  color: #A0C3C3;
}
@keyframes trans {
  from {
    background-color: #fff;
  }
  to {
    background-color: transparent;
  }
}
@-moz-keyframes trans {
  from {
    background-color: #fff;
  }
  to {
    background-color: transparent;
  }
}
@-webkit-keyframes trans {
  from {
    background-color: #fff;
  }
  to {
    background-color: transparent;
  }
}
@-o-keyframes trans {
  from {
    background-color: #fff;
  }
  to {
    background-color: transparent;
  }
}
section {
  padding: 60px 0;
  font-size: 1.5em;
}
section h2 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 60px;
  margin-top: 0;
}
section p {
  line-height: 42px;
}
section.skills {
  background-color: #D2E0E0;
}
section.skills .figure {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto 60px;
}
section.skills .figure img {
  width: 100%;
  vertical-align: middle;
}
section.skills .bsless .figure {
  margin: 0 auto;
}
section.works div[class*="col-"] {
  padding: 0;
}
section.works a.thumbnail {
  height: 250px;
  overflow: hidden;
  margin-bottom: 60px;
  padding: 10px;
  background-color: transparent;
  border: none;
  color: #fff;
  position: relative;
  text-decoration: none;
  border-radius: 0;
  /* &:hover{
      box-shadow: 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.35);
    }*/
}
section.works a.thumbnail figure {
  margin: 0;
  height: 100%;
  width: 100%;
}
section.works a.thumbnail figure img {
  width: 100%;
  height: auto;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1);
  transition: all 0.4s;
}
section.works a.thumbnail figure figcaption.text-hidden {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  opacity: 0;
  z-index: 100;
  transition: all 0.3s ease-in;
  padding-left: 15px;
  padding-right: 15px;
}
section.works a.thumbnail figure figcaption.text-hidden p {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.8em;
  line-height: 1.6em;
}
section.works a.thumbnail figure figcaption.text-hidden span:first-child {
  display: block;
}
section.works a.thumbnail figure figcaption.text-hidden span {
  display: inline-block;
  margin-bottom: 20px;
}
section.works a.thumbnail figure figcaption.text-hidden .show-site {
  background-color: #218B8A;
  border: none;
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
  padding: 15px 25px;
}
section.works a.thumbnail figure figcaption.text-hidden .show-site span {
  vertical-align: middle;
  line-height: 0.8em;
}
section.works a.thumbnail figure figcaption.text-hidden .show-site span:first-child {
  margin-right: .6em;
}
section.works a.thumbnail:hover figure img {
  opacity: 0.35;
  transform: scale(1.015);
}
section.works a.thumbnail:hover .text-hidden {
  opacity: 1;
}
section.works a.thumbnail:hover {
  background-color: #000;
}
section.works a.more {
  background-color: #218B8A;
  border: none;
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
  padding: 15px 25px;
}
section.works a.more span {
  vertical-align: middle;
  line-height: 0.8em;
}
section.works a.more span:first-child {
  margin-right: .6em;
}
section.works a.more:hover {
  background-color: #0C7776;
  border: none;
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
  padding: 15px 25px;
}
section.works a.more:hover span {
  vertical-align: middle;
  line-height: 0.8em;
}
section.works a.more:hover span:first-child {
  margin-right: .6em;
}
section.contact {
  background-color: #D2E0E0;
}
section.contact .e-holder {
  padding-top: 30px;
}
section.contact a.btn-email {
  background-color: #D52929;
  border: none;
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
  padding: 15px 25px;
}
section.contact a.btn-email span {
  vertical-align: middle;
  line-height: 0.8em;
}
section.contact a.btn-email span:first-child {
  margin-right: .6em;
}
section.contact a.btn-email:hover {
  background-color: #BF1A1A;
  border: none;
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
  padding: 15px 25px;
}
section.contact a.btn-email:hover span {
  vertical-align: middle;
  line-height: 0.8em;
}
section.contact a.btn-email:hover span:first-child {
  margin-right: .6em;
}
footer {
  background-color: #414141;
  padding: 60px 0;
  color: #CDCDCD;
}
footer .socials {
  margin-bottom: 30px;
}
footer .socials ul {
  list-style: none;
  display: block;
  padding: 0;
  cursor: default;
}
footer .socials ul li {
  display: inline-block;
  position: relative;
  width: 4.2em;
  height: 4.2em;
  line-height: 4.4em;
}
footer .socials ul li a {
  color: #999999;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
footer .socials ul li a span {
  display: none;
}
footer .socials ul li a:before {
  border-radius: 100%;
  border: solid 3px #999;
  display: block;
  font-size: 1.5em;
  width: 2.4em;
  height: 2.4em;
  line-height: 2.15em;
  position: relative;
  text-align: center;
  top: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
footer .socials ul li a:hover {
  opacity: 0.5;
}
footer .copyrights > p {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  section {
    font-size: 1.3em;
  }
  header .content h1 {
    font-size: 1.8em;
    line-height: 1.8em;
  }
  header .content h3 {
    font-size: 1.4em;
  }
  nav.navbar-default .navbar-nav {
    text-align: center;
  }
  nav.navbar-default .navbar-nav li {
    display: inline-block;
    float: none;
  }
  nav.navbar-default .navbar-nav li a {
    font-size: 1em;
    margin: 35px 3px;
  }
  section.skills .bsless .figure:not(.less) {
    margin: 0 auto 60px;
  }
  section.works a.thumbnail {
    margin: 0 10px 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
  }
}
@media (min-width: 568px) and (max-width: 766px) {
  section {
    font-size: 1.3em;
  }
  header .content {
    margin-top: 14%;
  }
  header .content h1 {
    margin-bottom: 20px;
  }
}
@media (min-width: 766px) {
  header .content h1 {
    font-size: 4.3em;
  }
  nav.navbar-default .navbar-nav {
    text-align: center;
  }
  nav.navbar-default .navbar-nav li {
    display: inline-block;
    float: none;
  }
  nav.navbar-default .navbar-nav li a {
    font-size: 1.4em;
    margin: 40px 15px;
  }
}
@media (min-width: 1200px) {
  body .container {
    width: 960px;
  }
  nav.navbar-default .navbar-nav li a {
    font-size: 1.4em;
  }
}
